<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App con Socket.io y EJS</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="container d-flex justify-content-center align-items-center">
  <main class="pt-5 pb-5 w-100">
    <section class="border p-5 rounded mb-5">
      <div class="mb-5">
        <h1>Información</h1>
      </div>
      <div class="mb-4">
        <ul>
          <li><strong>Argumentos de entrada: </strong> <%= argumentosDeEntrada %></li>
          <li><strong>Nombre de la plataforma: </strong> <%= nombrePlataforma %></li>
          <li><strong>Versión de Node: </strong> <%= versionNode %></li>
          <li><strong>Memoria total reservada: </strong><%= mtr.rss %></li>
          <li><strong>Path de ejecución: </strong> <%= pathEjecucion %></li>
          <li><strong>ProcessID: </strong> <%= processId %></li>
          <li><strong>Carpeta del proyecto: </strong> <%= carpetaProyecto %></li>
        </ul>
      </div>
    </section>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>